.beginner{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    
    input {
        font-size: 3rem;
    }
}

.easy {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(11, 1fr);

    input {
        font-size: 2.5rem;
    }
}

.medium {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(15, 1fr);

    input {
        font-size: 2.0rem;
    }
}

.advanced {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);

    input {
        font-size: 1.6rem;
    }
}